apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  labels:
    app: worker
spec:
  replicas: 2
  selector:
    matchLabels:
      app: worker
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          # Replace IMAGE_WORKER with your ECR URI using the sed command
          # in step B1 of the lab guide, or manually replace with:
          # <account-id>.dkr.ecr.us-east-1.amazonaws.com/distlab-worker:v1
          image: IMAGE_WORKER
          env:
            - name: REDIS_HOST
              value: "redis-service"
            - name: REDIS_PORT
              value: "6379"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "250m"
